# RProject files
.Rproj.user
.Rprofile
.Rhistory

# testing and setup files
ichthyoliths.Rproj
testing.R
# R/ichthyoliths.R
# man/ichthyoliths.Rd
denticles_scratch.R
*test_code*

# old versions of code and manuals
R/old_function_versions
readme_v0.0.Rmd
readme_v0.4.Rmd
